<% provide(:title, t("static_pages.about.title")) %>
<h1><%= t "static_pages.about.title" %></h1>
<p>
  <a href="http://www.railstutorial.org/"><em><%= t"static_pages.about.rails_tut" %></em>
    </a><%= t"static_pages.about.is_a" %>
  <a href="http://www.railstutorial.org/book"><%= t"static_pages.about.book" %></a>
  <%= t"static_pages.about.and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t"static_pages.about.screen" %></a>
  <%= t"static_pages.about.teach" %>
  <a href="http://rubyonrails.org/"><%= t"static_pages.about.rails" %></a>.
  <%= t"static_pages.about.sample" %>
</p>
